<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">Admin</span>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/admin/editors">Editors</a></li>
      <li routerLinkActive="active"><a routerLink="/admin/categories" class="active">Categories</a></li>
      <li><a routerLink="/allblogs">All Blogs</a></li>
      <li><a routerLink="/editor">Go to Editor</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login/admin" (click)="onAdminLogout()">LogOut</a></li>
    </ul>
  </div>
</nav>

<!-- ------------------------------------------header------------------------------------------------------------ -->

<div class="container" *ngIf="shwWelcomeMsg">
  <div class="jumbotron">
    <h3 class="help-block">Welcome to Admin Panel</h3>
  </div>
</div>

<router-outlet></router-outlet>
