<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">Editor</span>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="create-blog" queryParamsHandling="preserve">CreateBlog</a></li>
      <li routerLinkActive="active"><a routerLink="my-blogs">MyBlogs</a></li>
      <li><a routerLink="/allblogs">All Blogs</a></li>
      <li><a routerLink="/admin">Go to Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login/editor" (click)="onEditorLogout()">LogOut</a></li>
    </ul>
  </div>
</nav>

<!-- ----------------------------------------header-------------------------------------------- -->

<div class="container" *ngIf="showWelcomeMsg">
  <div class="jumbotron">
    <h3 class="help-block">Welcome to Editor Panel</h3>
  </div>
</div>

<router-outlet></router-outlet>
